body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-size: cover;
    background-repeat:no-repeat ;
    background-attachment: fixed;
}   
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#background-video {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;

}

.poem-english{
    position: absolute;
    top: 100%;
    left: 25%;
    width: 50%;
    max-width: 800px;
    transform: translate(-50%,-50%);
    text-align: left;
    z-index: 1;
    overflow: auto;
    color: white;
}

.poem-arabic{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: larger;
    line-height: 1.5;
    padding: 20px;
    margin: 0;
}
