<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <!-- nav bar -->
    <%- include('../partials/header') %>

    <h1>About</h1>

    <p>
      Welcome to WJH! Or as we fondly say, Bel Hana2 wel Shefa2!
      <br>
      <br>
      So, who exactly
      are we? We are you—every one of you! WJH is not just a community; it is a
      vibrant tapestry woven from the diverse culinary traditions and stories of
      people from all walks of life. 
      <br>
      <br>
      Here, we celebrate the rich and varied cuisines that define our heritage, creating a space where flavors, aromas,
      and memories come together. Whether you are an experienced chef or a
      curious food lover, WJH is a sanctuary for all who share a passion for
      cooking and the joy of food. Join us in exploring the delicious world of
      Arab cuisine, where every dish tells a story and every recipe is an
      invitation to connect.
    </p>

    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
