<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css" />
  </head>
  <body>
    <!-- nav bar -->
    <%- include('../partials/header') %>

    <h1>Follow WJH!</h1>
    <h2>Stay connected on Social Media!</h2>

    <h3>
      Facebook: @WJH
      <br>
      <br>
      Instagram: @WithHealth&Joy
      <br>
      <br>
    </h3>

    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>
