<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intitial-scale=1.0">
    <title>With Joy and Health</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>


<header class="header">
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/pages/1">Recipes of The Week</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <a href="/stories">Share Your Story</a>
        <a href="/user-recipes">User Recipes</a>

    </nav>
</header>

