<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <title>Recipes of The Week</title>
    <link rel="stylesheet" href="/styles/styles.css">

  </head>
  <body>
    <!-- nav bar -->
    <%- include('../partials/header') %>

    <h1><%= recipe.title %></h1>
    <h2>Here you will find the recipe for <%= recipe.title %>:</h2>

    <h2>Ingredients:</h2>
    <ul>
        <li>2 tbsp olive oil</li>
        <li>1 onion, diced</li>
        <li>1 red bell pepper, diced</li>
        <li>2 cloves garil, minced</li>
        <li>1 can of crushed tomatoes</li>
        <li>4 large eggs</li>
        <li>Salt and pepper to taste</li>
        <li>Fresh Parsley for garnish</li>
    </ul>

    <h2>Instructions:</h2>
    <p>
        1. Heat olive oil in a skillet over a medium heat.Add the onion and bell pepper, sautéing until soft.
        <br>
        2. Stir in the garlic and cook for another minute.
        <br>
        3. Add the crushed tomatoes and simmer for 10-15 minutes. Season with salt and pepper.
        <br>
        4. Make small wells in the sauce and crack an egg into each well. Cover and cook until eggs are set.
        <br>
        5. Garnish with parsley and serve.
    </p>
  

    <!-- footer -->
    <%- include('../partials/footer') %>
  </body>
</html>